<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeLeaf.org"
      th:replace="base::Layout(~{::section})"> <!-- this allows content from this page of section part only and base part-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="backing">
            <div class="text-white text-center">
                <h1> TODO Save Notes</h1>
                <p> Start making notes in a smarter way and update them according to your needs.</p>
                <button class="btn bg-primary text-white"> Get Start</button>
            </div>
        </div>
    </section>
</body>
</html>